<div class="row section-contact">
  <div class="col-12">
    <h1><%= current_page.data.contact_header %></h1>
    <p><%= current_page.data.contact_desctiption%></p>
  </div>
  <div class="col-6">
    <form method="POST" action="https://formspree.io/website_form@animeoutreach.org">
      <input type="email" name="email" placeholder="Email | メールアドレス">
      <textarea name="message" placeholder="Message | メッセージ"></textarea>
      <div style="color: orange">reCAPTCHA is required | キャプチャのクリックをお願いします</div>
      <button type="submit">Send | 送る</button>
    </form>
  </div>
  <div class="col-6">
    <!-- SnapWidget -->
    <script src="https://snapwidget.com/js/snapwidget.js"></script>
    <iframe src="https://snapwidget.com/embed/472628" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
  </div>
</div>
