<div class="row">
  <div class="col-12 section-vision">
    <h1><%= current_page.data.vision_header %></h1>
  </div>
  <div class="col-12">
    <p><%= current_page.data.vision_description_en %><a href="http://animeoutreach.org/vision_en">Read More</a></span></p>
    <p><%= current_page.data.vision_description_ja %><a href="http://animeoutreach.org/vision_ja">もっと詳しく</a></span></p>
  </div>
</div>
