<footer>
  <div class="footer section-contact">
    <div class="container">
      <div class="row">
        <div class="col-2 contact-footer">
          <p>
            <a href="http://animeoutreach.org/">Anime Outreach &copy; 2017</a>
          </p>
          <a href="https://www.facebook.com/AnimeOutreach-1722414251102103/"><i class="fa fa-facebook"></i></a>
					<a href="https://twitter.com/anime_outreach"><i class="fa fa-twitter"></i></a>
					<a href="https://www.instagram.com/animeoutreach/"><i class="fa fa-instagram"></i></a>
					<a href="http://github.com/animeoutreach/animeoutreach.org"><i class="fa fa-github"></i></a>
        </div>
        <div class="col-1"></div>
        <div class="col-3 contact-footer">
            <i class="fa fa-map-marker"> Map｜住所</i>
            <p>3-8-7 Saiwaicho Higashikurume-City Tokyo, Japan</p>
            <p>〒203-0052東京都東久留米市幸町3-8-7</p>

            <i class="fa fa-phone"> Telphone｜電話</i>
            <p>+81 80 6719 5176</p>

            <i class="fa fa-envelope"> Mail｜メール</i>
            <p><a href="mailto:love@animeoutreach.org">love@animeoutreach.org</a></p>
        </div>
        <div class="col-6">
          <form method="POST" action="http://formspree.io/website_form@animeoutreach.org">
            <input type="email" name="email" placeholder="Email | メールアドレス">
            <textarea name="message" placeholder="Message | メッセージ"></textarea>
            <div style="color: orange">reCAPTCHA is required | キャプチャのクリックをお願いします</div>
            <button type="submit">Send | 送る</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>

<!--Some scipts that runs after the page loads -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<%= javascript_include_tag 'header' %>
