<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 center">
          <p>
            <a href="http://animeoutreach.org/">Anime Outreach</a>
            <span class="footer-copyright">©2017 <a href=""></a></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

<!--Some scipts that runs after the page loads -->
<%= javascript_include_tag 'header' %>
