<header>
    <div class="home-header">
      <div class="home-header-inner">
        <img src="http://static.tumblr.com/26f53737f203783db19bb816f6e6a591/qnub46s/7nWoy2ovf/tumblr_static_3bd6jgc9s0u8wkkssokks4go0.png">
        <nav>
          <a class="home-header-nav" href="javascript:void(0)" onclick="scrollToTop()" target="_blank">
            🏠
          </a>
    			<a class="home-header-nav" href="javascript:void(0)" onclick="scrollToVision()" target="_blank">
            VISION
          </a>
          <a class="home-header-nav" href="javascript:void(0)" onclick="scrollToAboutUs()" target="_blank">
            ARTICLES
          </a>
          <a class="home-header-nav" href="javascript:void(0)" onclick="scrollToAboutUs()" target="_blank">
            ABOUT US
          </a>
          <a class="home-header-nav" href="javascript:void(0)" onclick="scrollToContact()" target="_blank">
    			  CONTACT
          </a>
        </nav>
      </div>
  	</div>
</header>
