<div class="jumbo-cover">
  <img class="jumbo-cover-img" src= "<%= current_page.data.cover_image %>" />
  <div class="container">
    <div class="row">
      <div class="col-12 center">
        <h1><%= current_page.data.title %></h1>
        <p><%= current_page.data.title_caption_ja %></p>
        <p><%= current_page.data.title_caption_en %></p>
     </div>
   </div>
  </div>
</div>
