<header>
    <div class="home-header page-header">
      <div class="home-header-inner">
        <img src="https://animeoutreach.org/static/images/public/logo.png">
        <nav>
          <a class="home-header-nav" href="/">
            🏠
          </a>
    			<a class="home-header-nav" href="/page/vision.html">
            VISION
          </a>
          <!--<a class="home-header-nav" href="javascript:void(0)" onclick="scrollToAboutUs()" target="_blank">
            ARTICLES
          </a>-->
          <!--<a class="home-header-nav" href="/member.html">
            ABOUT US
          </a>-->
          <a class="home-header-nav" href="javascript:void(0)" onclick="scrollToContact()" target="_blank">
    			  CONTACT
          </a>
        </nav>
      </div>
  	</div>
</header>
