---
layout: "layout"
blog: "member"
---
<% page_articles.each_with_index do |article, i| %>
  <div class="col-4 center">
    <div class="img center">
      <img style="height:200px" src="<%= article.thumbnail %>" />
    </div>
    <h3><%= link_to article.title, article %></h3>
    <p><%= article.role %></p>
    <!--<%= person %>-->
  </div>
<% end %>
